.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto; 
}
.tableContainer{
    padding: 20px 30px;
    min-width: 1100px;  
    background-color: grey;
    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
    height: 50vh;
    box-shadow:  0px 0px 24px 0px rgba(128, 117, 117, 1);
}

.formContainer button{
    font-size: 2.5rem;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 50px;
    margin: 10px;
    padding: 5px 25px;
    line-height: 50px;
    box-shadow:  0px 0px 24px 0px rgba(128, 117, 117, 1);
    text-shadow:  0px 5px rgba(128, 117, 117, 1);
    transition: 0.2s;
}
.formContainer button:hover{
    box-shadow:  0px 0px 24px 0px rgb(0, 0, 0);
    text-shadow:  none;
}
.formContainer input{
    border:none;
    font-size: 3rem;
    width: 80px;
    background-color: transparent;
    margin: 0 30px;
    text-align: center;
    font-weight: 700;
    color: purple;
    text-shadow:  2px 2px rgba(128, 117, 117, 1);
}
.formContainer input:focus{
     outline: none;
}

::-webkit-scrollbar {
 width: 15px;
 border-radius: 30px;
}
::-webkit-scrollbar-thumb {
 background: rgb(128 ,0,128,0.6);
 border-radius: 10px;
 height: 10px;
}
::-webkit-scrollbar-thumb:hover {
 background: rgb(128 ,0,128,1);
 border-radius: 10px;
 height: 10px;
}
::-webkit-scrollbar-track{
    margin: 20px;
    background-color: transparent;
}

