.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow:  0px 0px 24px 0px rgba(128, 117, 117, 1);
}

.container table{
    margin: 5px;
}
.container td{
    border-top: 2px solid black;
    
}
.container td,th{
 padding: 10px;
 width: 200px;
}

.container img{
    height: 80px;
    width: 80px;
}